<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.cdnsearcher.hzlzh</string>
	<key>connections</key>
	<dict>
		<key>5781539F-3A42-4724-BE8A-AF9E749F1FDE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABD9DFE8-DA6B-4F46-AD34-4F6926FE883C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>ABD9DFE8-DA6B-4F46-AD34-4F6926FE883C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64842A1D-75E7-4103-BD08-4DCB0AA137AE</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy and Open</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2B3CC67B-A963-4638-BFCA-A3FE12BA5587</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5C0825B6-635B-478A-839C-3457CD7772BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>hzlzh</string>
	<key>description</key>
	<string>Search CDN links from staticfile.org</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>CDN Searcher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>64842A1D-75E7-4103-BD08-4DCB0AA137AE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>CDN Link copied!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2B3CC67B-A963-4638-BFCA-A3FE12BA5587</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5781539F-3A42-4724-BE8A-AF9E749F1FDE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>cdn</string>
				<key>runningsubtext</key>
				<string>Wait, searching … … on staticfile.org API</string>
				<key>script</key>
				<string>/*
# Project Source

* API: https://github.com/hzlzh/AlfredWorkflow.com

* Github: https://github.com/hzlzh/Alfred-Workflows
* Blog Post: https://zlz.im/Alfred-Workflows/

# Contact

* hzlzh (hzlzh.dev@gmail.com)
* Twitter: https://twitter.com/hzlzh
*/
require_once('workflows.php');
require_once('FileCache.php');

function load_data($api,$query) {
    
    $opts = array(  
        'http'=&gt;array(  
        'method'=&gt;"GET",  
        'timeout'=&gt;10
        )
    );  
    $context = stream_context_create($opts);       
    $obj = false;
    
    
    $fck  = md5($query);
    $data = FileCache::get($fck);
        if(!$data)
        {
            $xml = @file_get_contents( $api.$query,false, $context);
            $data = $xml;            
            FileCache::set($fck,$data,86400);
        }
    $obj=json_decode($data);

    return $obj;
}

$wf = new Workflows();

$orig = "{query}";


date_default_timezone_set('Asia/Shanghai');
if($orig){
    $obj = load_data('http://api.staticfile.org/v1/search?q=',$orig);
    $int = 1;
    if($obj != null):
        foreach( $obj-&gt;libs as $key =&gt; $item ):
            if(!stristr($item -&gt; name, $orig) &amp;&amp; !stristr($item -&gt; description, $orig)) continue;

            $name = $item -&gt; name;
            $filename = $item -&gt; filename;
            $homepage = $item -&gt; homepage;
            $version = $item -&gt; version;
            $description = $item -&gt; description;
            $workflow_type = $item -&gt; workflow_type;
            $assets = $item -&gt; assets;
            $repositories = $item -&gt; repositories;
            $keywords = $item -&gt; keywords;
           
            $wf-&gt;result( $name, 'http://cdn.staticfile.org/'.$name.'/'.$version.'/'.$filename, '[v'.$version.'] '.$name,  $description . ' — @'.$homepage, 'default.png'  );
            $int++; 
        endforeach;
    endif;
}

$results = $wf-&gt;results();
if ( count( $results ) == 0 ):
    $wf-&gt;result( 'CDNworkflow_500', 'Please make sure your internet works well.', 'No responce, try again!', 'Please make sure your internet works well.', 'icon.png' );
endif;

echo $wf-&gt;toxml();

?&gt;</string>
				<key>subtext</key>
				<string>The result is from staticfile.org API</string>
				<key>title</key>
				<string>Input keyword to search CDN.</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ABD9DFE8-DA6B-4F46-AD34-4F6926FE883C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5C0825B6-635B-478A-839C-3457CD7772BE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Project Source

* Github: https://github.com/hzlzh/Alfred-Workflows
* Blog Post: https://zlz.im/Alfred-Workflows/

# Contact

* hzlzh (hzlzh.dev@gmail.com)
* Twitter: https://twitter.com/hzlzh</string>
	<key>uidata</key>
	<dict>
		<key>2B3CC67B-A963-4638-BFCA-A3FE12BA5587</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>5781539F-3A42-4724-BE8A-AF9E749F1FDE</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>5C0825B6-635B-478A-839C-3457CD7772BE</key>
		<dict>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>64842A1D-75E7-4103-BD08-4DCB0AA137AE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>ABD9DFE8-DA6B-4F46-AD34-4F6926FE883C</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://zlz.im/</string>
</dict>
</plist>
