<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.quick-open-finder.hzlzh</string>
	<key>connections</key>
	<dict>
		<key>D9932075-CB6F-45CA-9A84-831683E5B26C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE0D1A31-87F9-4DB4-9F31-B2E51C48CC62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>hzlzh</string>
	<key>description</key>
	<string>Quick open finder.app with hotkey.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Quick Open Finder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D9932075-CB6F-45CA-9A84-831683E5B26C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Library/CoreServices/Finder.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>AE0D1A31-87F9-4DB4-9F31-B2E51C48CC62</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Project Source

* Github: https://github.com/hzlzh/Alfred-Workflows
* Blog Post: https://zlz.im/Alfred-Workflows/

# Contact

* Andy Huang (hzlzh.dev@gmail.com)
* Twitter: https://twitter.com/hzlzh

(If you need more services to be added, please let me know.)</string>
	<key>uidata</key>
	<dict>
		<key>AE0D1A31-87F9-4DB4-9F31-B2E51C48CC62</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>D9932075-CB6F-45CA-9A84-831683E5B26C</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://hzlzh.io</string>
</dict>
</plist>
