<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.copy-path.hzlzh</string>
	<key>connections</key>
	<dict>
		<key>0087609E-6564-4C39-A1BC-BC72E3EA0589</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08407005-847B-487E-883A-A25B62CAC23E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DB7D6EAB-2AEE-4BAF-B97E-E0E613BDB994</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>591D08A4-2B08-4DEB-B779-FA98A5EEEBB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0087609E-6564-4C39-A1BC-BC72E3EA0589</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>hzlzh</string>
	<key>description</key>
	<string>Copy files' path in Finder to Clipboard.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Copy Path</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Finder"
	set theItems to selection
	set filePath to (POSIX path of (the selection as alias))
  end tell
  set q to filePath
  return q
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>0087609E-6564-4C39-A1BC-BC72E3EA0589</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>1</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Path Copied!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>08407005-847B-487E-883A-A25B62CAC23E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>P</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>591D08A4-2B08-4DEB-B779-FA98A5EEEBB3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DB7D6EAB-2AEE-4BAF-B97E-E0E613BDB994</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Shorten URL v1.0

Copy files' path in Finder to Clipboard.

# Project Source

* Github: https://github.com/hzlzh/Alfred-Workflows
* Blog Post: http://hzlzh.io/Alfred-Workflows/

# Contact

* Zed Huang (hzlzh.dev@gmail.com)
* Twitter: https://twitter.com/hzlzh

(If you need more services to be added, please let me know.)</string>
	<key>uidata</key>
	<dict>
		<key>0087609E-6564-4C39-A1BC-BC72E3EA0589</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>08407005-847B-487E-883A-A25B62CAC23E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>591D08A4-2B08-4DEB-B779-FA98A5EEEBB3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DB7D6EAB-2AEE-4BAF-B97E-E0E613BDB994</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://hzlzh.io/</string>
</dict>
</plist>
